<a href="https://colab.research.google.com/github/anandawln/anandawln/blob/main/PYTHON_by_Dicoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# ctrl dan / akan menghasilkan tanda (#)
# Tipe Data (Kuis 1)
firstName = 'Wulan'
lastName = 'Ananda'
age = 23
isMarried = False
print(type(firstName))
print(type(lastName))
print(type(age))
print(type(isMarried))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'bool'>

In [ ]:
x = 11
y = 5

print(x // y)
print(x / y)
print(x % y)
print(x ** y)

2
2.2
1
161051

In [ ]:
# Dictionary (Kuis 2)
data_diri = {"firstName":"Wulan", "lastName":"Ananda", "age":23, "isMarried":False}
print(data_diri)
print(data_diri["firstName"])
print(data_diri["lastName"])
print(data_diri["age"])
print(data_diri["isMarried"])

{'firstName': 'Wulan', 'lastName': 'Ananda', 'age': 23, 'isMarried': False}
Wulan
Ananda
23
False

In [ ]:
# Transformation
text = "Dicoding"
print(text.upper())
print(text.lower())
# menghapus spasi
print("dicoding      ".rstrip())  # menghapus di akhir
print("      dicoding".lstrip())  # menghapus di awal
print("    dicoding    ".strip()) # menghapus di awal dan akhir
kata = 'codecodedicodingcodecode'
print(kata.strip("code"))  #untuk membuang kata sesudah dan sebelum
print('dicoding Indonesia'.startswith('dicoding')) # untuk menemukan suatu kata (di awal)
print('dicoding indonesia'.endswith('dicoding')) #untuk menemukan suatu kata (diakhir)
print(' '.join(['Dicoding','Indonesia', '!'])) # untuk menggabungkan string
print('123'.join(['dicoding','indonesia']))   # untuk menggabungkan dengan menambah delimiter
print('dicoding indonesia !'.split())  # memisahkan kata berdasarkan delimiter
print('''Halo,
aku ikan,
aku suka sekali menyelam
aku tinggal di perairan.
Badanku licin dan renangku cepat.
Senang berkenalan denganmu.'''.split('\n'))  #(\n)untuk memisahkan setiap baris pada string multiline
string = 'ayo belajar coding di DiCO'
print(string.replace("coding", "pemograman")) #untuk mereplace
kata = 'DICODING'
print(kata.isupper()) #akaN mengembalikan nilai true jika semua huruf dalam string adalah kapital
KATA = 'dicoding'
print(KATA.islower()) #akan mengembalikan true jika semua huruf kecil
kelas = 'python pemula'
print(kelas.isalpha()) #true jika semua karakter adalah alfabet
kode = 'dicoding127'
print(kode.isalnum()) #true jika karakter dalam string adalah alfa+numerik
print('123'.isdecimal()) #true jika dalam string hanya ada angka/numerik
print('      '.isspace()) #true jika hanya berisi whitespace: spasi, tab, newline dll
print('Dicoding Indonesia'.istitle()) #true jika ada huruf kapital di setiap kata pertamanya
teks = 'Code'
tambah_number = teks.zfill(5) #untuk menambahkan nilai 0 di depan sebuah string
print(tambah_number)          #alasan angka 5 krn code= 4 ditambahi dengan 0 nambah 1 jadi 5
print('Dicoding'.rjust(20))  # untuk merapihkan cetakan teks, 20: panjangnya nanti ada 20
print('Dicoding'.rjust(20, '!'))
print('Dicoding'.ljust(20)) #rata kiri, kebalikan rjust
print('Dicoding'.center(10, '-')) # rata tengah

DICODING
dicoding
dicoding
dicoding
dicoding
icoding
True
False
Dicoding Indonesia !
dicoding123indonesia
['dicoding', 'indonesia', '!']
['Halo,', 'aku ikan,', 'aku suka sekali menyelam', 'aku tinggal di perairan.', 'Badanku licin dan renangku cepat.', 'Senang berkenalan denganmu.']
ayo belajar pemograman di DiCO
True
True
False
True
True
True
True
0Code
            Dicoding
!!!!!!!!!!!!Dicoding
Dicoding
-Dicoding-

In [ ]:
# string literals
# st1 = 'Jum'at'
st1 = "Jum'at"
# st2 = 'Jum'at' jika mengetiknya gini salah karena python akan menganggap terakhir kata di huruf m
print(st1)
st3 = 'Jum\'at' #alternatif yang benar jika ingin menggunakan petik 1
print(st3)
# \' Single quote
# \" Double quote
# \t Tab
# \n Newline (line break)
# \\ Backslash
print("Halo!\nKapan terakhir kali kita bertemu?\nKita bertemu hari Jum\'at yang lalu.")

# Raw string
print(r'Dicoding\tIndonesia')  #mencetak string sesuai dengan apapun input yang kita berikan

Jum'at
Jum'at
Halo!
Kapan terakhir kali kita bertemu?
Kita bertemu hari Jum'at yang lalu.
Dicoding\tIndonesia

In [ ]:
# len: menghitung panjang / banyaknya elemen dari, list, set, dan string
contoh_list = [1, 3, 3, 5, 5, 5, 7, 7, 9]

print(contoh_list)
print(len(contoh_list))

contoh_list = set([1, 3, 3, 5, 5, 5, 7, 7, 9]) #set:agar tidak duplikat

print(contoh_list)
print(len(contoh_list)) # kenapa hasilnya 5? krn ada nomor yang duplikat jadi yg dihitung hanya yang beda saja

# min & max
angka = [13, 7, 24, 5, 96, 84, 71, 11, 38]
print(min(angka))
print(max(angka))

# count: untuk mngetahui berap akli suatu objek muncul dalam list
genap = [2, 4, 4, 6, 6, 6, 8, 10, 10]
print(genap.count(6))

string = "Belajar Python di Dicoding sangat menyenangkan"
substring = "a"
print(string.count(substring))

[1, 3, 3, 5, 5, 5, 7, 7, 9]
9
{1, 3, 5, 7, 9}
5
5
96
3
6

In [ ]:
# in & not in; akan mengembalikan nilai true/false
kalimat = "Belajar Python di Dicoding sangat menyenangkan"
print('Dicoding' in kalimat)
print('tidak' in kalimat)
print('Dicoding' not in kalimat)
print('tidak' not in kalimat)

True
False
False
True

In [ ]:
# memberikan nilai untuk multiple variable
data = ['shirt', 'white', 'L']
apparel = data[0]
color = data[1]
size = data[2]
print(data)
print(apparel)
print(color)
print(size)

['shirt', 'white', 'L']
shirt
white
L

In [ ]:
# cara lain
data = ['shirt', 'white', 'L']
apparel, color, size = data

print(data)
print(apparel)
print(color)
print(size)

['shirt', 'white', 'L']
shirt
white
L

In [ ]:
# sort
kendaraan = ['motor', 'mobil', 'helikopter', 'pesawat']
kendaraan.sort()

print(kendaraan)

kendaraan = ['motor', 'mobil', 'helikopter', 'pesawat']
kendaraan.sort(reverse=True) # untuk mengembalikan urutan

print(kendaraan)


# urutan = ['Dicoding', 1, 2, 'Indonesia', 3] (tidak akan bisa karena gabungan string dan integer)
# urutan.sort()

# print(urutan)

kendaraan = ['motor', 'mobil', 'helikopter', 'Pesawat']
kendaraan.sort()

print(kendaraan) # sort itu menggunakan metode ASCII sehingga akan mengurutkan berdasarkan yang memiliki huruf kapital terlebih dahulu daripada lowercase

['helikopter', 'mobil', 'motor', 'pesawat']
['pesawat', 'motor', 'mobil', 'helikopter']

In [ ]:
var_list = [792564, 465231, 203748, 981037, 857219, 314092, 608345, 123907, 736890, 985026,
179430, 450218, 680934, 543187, 978260, 283045, 617902, 405826, 820913, 731095,
592403, 109237, 874956, 605132, 214978, 674519, 391047, 825160, 509317, 768490,
950283, 307491, 487610, 532198, 605132, 160984, 609873, 245016, 879043, 734126,
351809, 670594, 920873, 605132, 596410, 135890, 804512, 683420, 290753, 931560,
175430, 950672, 378490, 284105, 746098, 503624, 605132, 167432, 974810, 519463,
407835, 740326, 281709, 630921, 953284, 605132, 429731, 183607, 369012, 541380,
605132, 217605, 496803, 827309, 153607, 605132, 720459, 381904, 594031, 810235,
673925, 492157, 835096, 260481, 956024, 540329, 806295, 320158, 751903, 980465,
235780, 857943, 605132, 125094, 620493, 913250
]

# Menghitung panjang list
panjang = len(var_list)

# Mencari nilai maksimum dalam list
maksimal = max(var_list)

# Mencari nilai minimum dalam list
minimal = min(var_list)

# Menghitung berapa banyak angka 605132 dalam list
banyak = var_list.count(605132)

# Menampilkan hasil
print("Panjang list:", panjang)
print("Nilai maksimal:", maksimal)
print("Nilai minimal:", minimal)
print("Jumlah angka 605132:", banyak)

Panjang list: 96
Nilai maksimal: 985026
Nilai minimal: 109237
Jumlah angka 605132: 8

In [ ]:
var_list = [792564, 465231, 203748, 981037, 857219, 314092, 608345, 123907, 736890, 985026,
179430, 450218, 680934, 543187, 978260, 283045, 617902, 405826, 820913, 731095,
592403, 109237, 874956, 605132, 214978, 674519, 391047, 825160, 509317, 768490,
950283, 307491, 487610, 532198, 605132, 160984, 609873, 245016, 879043, 734126,
351809, 670594, 920873, 605132, 596410, 135890, 804512, 683420, 290753, 931560,
175430, 950672, 378490, 284105, 746098, 503624, 605132, 167432, 974810, 519463,
407835, 740326, 281709, 630921, 953284, 605132, 429731, 183607, 369012, 541380,
605132, 217605, 496803, 827309, 153607, 605132, 720459, 381904, 594031, 810235,
673925, 492157, 835096, 260481, 956024, 540329, 806295, 320158, 751903, 980465,
235780, 857943, 605132, 125094, 620493, 913250
]

# Menghitung panjang list
panjang = len(var_list)

# Mencari nilai maksimum dalam list
maksimal = max(var_list)

# Mencari nilai minimum dalam list
minimal = min(var_list)

# Menghitung berapa banyak angka 605132 dalam list
banyak = var_list.count(605132)

print(panjang)
print(maksimal)
print(minimal)
print(banyak)

96
985026
109237
8

In [ ]:
x = { 'name': 'Coding', 'age': 20, 'isMarried': False }
x ['name'] = "Dicoding"
print(x)

x = (5, 'program', 1+3j)
x[1] = 'Dicoding'
print(x)

{'name': 'Dicoding', 'age': 20, 'isMarried': False}

TypeError: 'tuple' object does not support item assignment

In [ ]:
x = 'Dicoding'
x[0] = 'F'
print(x)

TypeError: 'str' object does not support item assignment

In [ ]:
# EKSPRESI

In [ ]:
# Jangan ubah kode ini
dico = 750000

# TODO: Silakan buat kode Anda di bawah ini.
if dico > 500000:
    diskon = 0.10  # 10% diskon
    total_harga = dico - (dico * diskon)  # Menghitung total harga setelah diskon
else:
    total_harga = dico  # Jika tidak memenuhi syarat, total harga tetap

# Menampilkan total harga setelah diskon
print("Total harga belanja Dico setelah diskon adalah:", total_harga)

Total harga belanja Dico setelah diskon adalah: 675000.0

In [ ]:
dico = 750000

if dico > 500000:
    diskon = 0.10  # 10% diskon
    total_harga = dico - (dico * diskon)  # Menghitung total harga setelah diskon
else:
    total_harga = dico  # Jika tidak memenuhi syarat, total harga tetap

# Menampilkan total harga setelah diskon
print(total_harga)

675000.0

In [ ]:
x = "Belajar"
y = "Python"
result = x > y
print(result)

x = 1960
y = 901
print(x % y)

False
158

In [ ]:
# AKSI SEKUENSIAL --> intruksi akan dijalankan berdasarkan urutan penulisannya
# Python Interpreter
# compiler: program untuk menerjemahkan bahasa pemograman ke bahasa mesin sebelum dijalankan
# interpreter: akan menerjemahkan python ke bahasa mesin secara langsung
# Block Code
for i in range(10):
    print(i)

# Case sensitive --> beda huruf kecil besar beda makna
teks = "Dicoding"
Teks = "Indonesia"

print(teks)
print(Teks)

# One-Liner --> gaya penulisan python untuk memungkinkan anda memebuat sebuah kode hanya dalam satu baris
x = 1
y = 2

temp = x
x = y
y = temp

print("Setelah pertukaran: ")
print("x = ", x)
print("y =",  y)


x = 1
y = 2

x, y = y, x    # One-liner

print('Setelah pertukaran: ')
print('x =', x)
print('y =', y)

0
1
2
3
4
5
6
7
8
9
Dicoding
Indonesia
Setelah pertukaran:
x =  2
y = 1
Setelah pertukaran:
x = 2
y = 1

In [ ]:
# TODO: Silakan buat kode Anda di bawah ini.
evenNumber = [num for num in range(501) if num % 2 == 0]

# Menampilkan hasil
print(evenNumber)

i = 9
if i<10:
    print(i)

lulus = True
print("Dicoding Indonesia") if lulus else print("Python")

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400, 402, 404, 406, 408, 410, 412, 414, 416, 418, 420, 422, 424, 426, 428, 430, 432, 434, 436, 438, 440, 442, 444, 446, 448, 450, 452, 454, 456, 458, 460, 462, 464, 466, 468, 470, 472, 474, 476, 478, 480, 482, 484, 486, 488, 490, 492, 494, 496, 498, 500]
9
Dicoding Indonesia

In [ ]:
# Jangan ubah kode ini
var_array = [i for i in range(101)]

# TODO: Silakan buat kode Anda di bawah ini.
total = 0  # Inisialisasi variabel untuk menyimpan total
count = 0  # Inisialisasi variabel untuk menghitung jumlah elemen

for num in var_array:  # Loop melalui setiap elemen dalam var_array
    total += num  # Menambahkan nilai elemen ke total
    count += 1    # Menghitung jumlah elemen

# Menghitung rata-rata
if count > 0:  # Memastikan count tidak nol untuk menghindari pembagian dengan nol
    result = total / count  # Rata-rata = total / jumlah elemen
else:
    result = 0  # Jika tidak ada elemen, rata-rata adalah 0

# Menampilkan hasil
print("Nilai rata-rata dari elemen array adalah:", result)

Nilai rata-rata dari elemen array adalah: 50.0

In [ ]:
# Jangan ubah kode ini
var_array = [i for i in range(101)]

# TODO: Silakan buat kode Anda di bawah ini.
total = 0
count = 0

# Menggunakan perulangan untuk menjumlahkan semua elemen
for num in var_array:
    total += num
    count += 1

# Menghitung rata-rata
result = total / count if count > 0 else 0

# Menampilkan hasil
print("Rata-rata:", result)

Rata-rata: 50.0